body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  color: black;
  background-color: white;
}

footer {
  font-size: 10px;
}

/* Bootstrap Override */

/* Buttons - remove hover */
.nohover:hover, .nohover:focus{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.nohover:active:hover, .nohover:active:focus,
.nohover.active:hover, .nohover.active:focus{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

/* Custom button */
.btn-custom{

}

#choropleth_map .land {
  fill: #ccc;
  fill-opacity: 0.8;
  stroke: #3b3b3b;
  stroke-width: 0.3px;
}
#choropleth_map .graticule {
    fill: none;
    stroke: #777;
  stroke-width: 0.3px;
}
  
/* Timeline */

#timeline{
  margin: 80px;
}

#timeline .ui-slider .ui-slider-handle {
  color: steelblue;
}

#timeline .ui-slider-pip .ui-slider-label  {
  color: black;
}

#timeline .ui-slider-pip-initial-1 .ui-slider-label {
  color: black;
  font-weight: normal;
}

#timeline .ui-slider-pip-initial-2 .ui-slider-label {
  color: black;
  font-weight: normal;
}


#timeline .ui-slider-pip-selected-1 .ui-slider-label{
  color: steelblue;
}

#timeline .ui-slider-pip-selected-2 .ui-slider-label{
  color: steelblue;
}

/* D3 */

#bar_chart rect {
  fill: steelblue;
  stroke: black;
}

#bar_chart text {
  fill: black;
  font: 10px sans-serif;
  /*text-anchor: end;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#heatmap text.years{
  font-family: sans-serif;
  font-size: 10px;
}

#heatmap text.country{
  font-family: sans-serif;
  font-size: 10px;
}

#heatmap rect {
  stroke: black;
}

#scatterplot text{
  font-family: sans-serif;
  font-size: 10px;
}


/* D3-Tip */

.d3-tip {
      font: 10px sans-serif;  
      line-height: 1;
      padding: 6px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 4px;
}
 
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
      font: 9px sans-serif;
      box-sizing: border-box;
      display: inline;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
}
 
/* Style northward tooltips specifically */
.d3-tip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
}